<%- include("../partials/header") %>
<main class="content">
  <div class="container-fluid p-0">

    <h1 class="h3 mb-3">Results</h1>

    <div class="row">
      <div class="col-md-12">
        <div class="card">
          <div class="card-header pb-0">
            <div class="row">
              <div class="col-md-6 col-xxl-4">
                <div class="input-group">
                  <select name="term" id="term" class="form-select">
                    <% academicYears.forEach((year) => { %>
                    <optgroup label="<%= year.year %>">
                      <% year.Terms.forEach((term) => { %>
                      <option value="<%= term.id %>" <%= selectedTerm === term.id ? "selected" : "" %>><%= term.name %></option>
                      <% }) %>
                    </optgroup>
                    <% }) %>
                  </select>

                  <button class="btn btn-secondary" type="button">Search</button>
                </div>
              </div>
            </div>
          </div>
          <div class="card-body h-100">
            <% if(selectedTerm) { %>
            <% if(results.length > 0) { %>
            <div class="table-responsive">
              <table class="table table-bordered table-striped">
                <thead class="table-dark">
                  <tr>
                    <th class="vertical-header">No</th>
                    <th class="vertical-header">Subjects</th>
                    <th class="vertical-header">First Test (10)</th>
                    <th class="vertical-header">Presentation (5)</th>
                    <th class="vertical-header">Mid-term test (10)</th>
                    <th class="vertical-header">Project (10)</th>
                    <th class="vertical-header">Note (5)</th>
                    <th class="vertical-header">Exam score (60)</th>
                    <th class="vertical-header">Total score (100)</th>
                    <th class="vertical-header">Grade</th>
                    <th class="vertical-header">Position</th>
                    <th class="vertical-header">Class average</th>
                    <th class="vertical-header">Class lowest score</th>
                    <th class="vertical-header">Class highest score</th>
                    <th class="vertical-header">Remark</th>
                  </tr>
                </thead>
                <tbody>
                  <% results.map((result, index) => { %>
                  <tr>
                    <td><%= ++index %></td>
                    <td><%= result.Subject ? result.Subject.name : "N/A" %></td>
                    <td><%= result.firstTest %></td>
                    <td><%= result.presentation %></td>
                    <td><%= result.midTermTest %></td>
                    <td><%= result.project %></td>
                    <td><%= result.note %></td>
                    <td><%= result.examScore %></td>
                    <td><%= result.totalScore %></td>
                    <td><%= result.grade %></td>
                    <td><%= result.position %></td>
                    <td><%= result.classAverage %></td>
                    <td><%= result.classLowest %></td>
                    <td><%= result.classHighest %></td>
                    <td><%= result.remark %></td>
                  </tr>
                  <% }) %>
                </tbody>
              </table>
            </div>
            <% } else { %>
            <p class="text-center">No Results found</p>
            <% } %>
            <% } else { %>
            <p class="text-center">Please select a term to continue</p>
            <% } %>
          </div>
        </div>
      </div>
    </div>


  </div>
</main>

<script>
  document.addEventListener("DOMContentLoaded", function() {
    const select = document.getElementById("term");

    select.addEventListener("change", function() {
      const selectedTermId = this.value;
      let currentUrl = new URL(window.location.href);

      currentUrl.searchParams.set("term", selectedTermId);
      window.location.href = currentUrl.toString();

    });
  });
</script>

<%- include("../partials/footer") %>