<%- include("../partials/header") %>
<style>
  /* Hide desktop table on mobile */
  @media (max-width: 768px) {
    .desktop-table {
      display: none;
    }
  }

  /* Hide mobile tables on desktop */
  @media (min-width: 769px) {
    .mobile-table {
      display: none;
    }
  }

  /* Bold time column on desktop */
  .desktop-table tbody td:first-child {
    font-weight: bold;
  }
</style>
<main class="content">
  <div class="container-fluid p-0">

    <h1 class="h3 mb-3">Timetable</h1>

    <div class="row">
      <div class="col-md-12">
        <div class="card">
          <div class="card-header">

            <h5 class="card-title mb-0">Profile Details</h5>
          </div>
          <div class="card-body h-100">
            <!-- Desktop Table View -->
            <div class="table-responsive desktop-table">
              <table class="table table-bordered">
                <thead class="table-dark">
                  <tr>
                    <th>Time</th>
                    <% days.forEach(day => { %>
                    <th><%= day %></th>
                    <% }); %>
                  </tr>
                </thead>
                <tbody>
                  <% Object.keys(schedule).forEach(time => { %>
                  <tr>
                    <td><strong><%= time.replace(" (Break Time)", "") %></strong></td>
                    <% let i = 0; %>
                    <% while (i < days.length) { %>
                    <% 
                      if (schedule[time][days[i]] === 'break') {
                        let colspan = 1;
                        while (i + colspan < days.length && schedule[time][days[i + colspan]] === 'break') {
                          colspan++;
                        }
                      %>
                    <td class="text-center bg-warning text-dark" colspan="<%= colspan %>">Break Time</td>
                    <% i += colspan; %>
                    <% } else { %>
                    <td><%= schedule[time][days[i]] || '' %></td>
                    <% i++; %>
                    <% } %>
                    <% } %>
                  </tr>
                  <% }); %>
                </tbody>
              </table>



            </div>

            <!-- Mobile View -->
            <div class="mobile-table">
              <% days.forEach(day => { %>
              <table class="table table-bordered table-striped mb-4">
                <thead class="table-dark">
                  <tr>
                    <th colspan="2" class="text-center"><%= day %></th>
                  </tr>
                </thead>
                <tbody>
                  <% Object.keys(schedule).forEach(time => { %>
                  <% if (schedule[time][day] === 'break') { %>
                  <tr>
                    <td><strong><%= time %></strong></td>
                    <td class="text-center bg-warning text-dark">
                      <strong>Break Time</strong>
                    </td>
                  </tr>
                  <% } else { %>
                  <tr>
                    <td><strong><%= time %></strong></td>
                    <td><%= schedule[time][day] || '' %></td>
                  </tr>
                  <% } %>
                  <% }); %>
                </tbody>
              </table>
              <% }); %>
            </div>


          </div>
        </div>
      </div>
    </div>

  </div>
</main>
<!-- Modal -->
<div class="modal fade" id="centeredModalPrimary" tabindex="-1" style="display: none;" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <form action="?action=make-student" method="POST">
        <div class="modal-header">
          <h5 class="modal-title">Make Student</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body m-3">
          <p class="mb-0">Are you sure you want to make <b><%- student.firstName %> <%- student.middleName %> <%- student.lastName %></b> a student?</p>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
          <button type="submit" class="btn btn-success">Yes, Make student</button>
        </div>
      </form>
    </div>
  </div>
</div>
<%- include("../partials/footer") %>